// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
	font-size: 33.75px;
	line-height: 42px;
	color: #2d2d2d;
}

.btn-space{
	margin-top: 12px;
}